body {
  background-color: #404040;
}

h1 {
  color: white;
}

h1 {
  background-color: red;
}

p {
  color: #a0a0a0;
}

h2 {
  color: #a0a0a0;
}

a {
  color: white;
}

h1 {
  text-align: center;
}

a{
  text-align: left;
}

p {
   font-size: 20px;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
padding: 5px;
text-align: left;
}
