.container { text-align: center; }

body {background-color: #bebebe}
h1 {color: #dcdcdc}
h1 {background-color: #404040;}
p {color: #000a05
   text: center;
}
h2 {color: white;}
h2 {background-color: #404040;}
a {color: white;}
